.custom-button:hover {
    background-color: var(--dark-gray);
    border-color: #aaa;
    color: var(--accent);
    border: 1px solid white;
}

.custom-button.selected {
    background-color: var(--dark-gray);
    font-weight: bold;
    color: var(--accent);
}

.custom-button {
    background-color: var(--light-black);
    color: white;  /* default text color */
    font-family: var(--mono-font);
    font-size: var(--small-font-size);
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #666;
    border-color: #aaa;
    transition: background-color 0.3s ease;
}

.custom-checkbox input[type="checkbox"] {
    margin-right: 8px; /* space between checkbox and label */
    margin-bottom: 12px; /* spacing between items */
    accent-color: var(--accent);
}

.left-panel {
    background-color: var(--light-black);
    width: 33%;
    padding: 50px;
    box-sizing: border-box;
    height: 100vh;
    margin: auto;
}

.right-panel {
    background-color: var(--dark-black);
    width: 67%;
    padding: 50px;
    box-sizing: border-box;
    height: 100vh;
    margin: auto;
}


html, body {
  margin: 0;
  padding: 0;
}